[Unit]
Description=Run Xvfb for display %I
After=network.target
Before=console-getty.service

[Service]
Type=simple
User={{SHADOWDESK_USER}}
Group={{SHADOWDESK_USER}}
Environment="DISPLAY=:%I"
Environment="XVFB_SCREENS=-screen 0 1920x1080x24"
ExecStart=/usr/bin/Xvfb :%I $XVFB_SCREENS +extension RANDR +extension GLX +extension MIT-SHM -nolisten tcp -noreset -shmem

[Install]
WantedBy=multi-user.target
