[Unit]
Description=Run gnome session for display %I
After=shadowxvfb@%i.service

[Service]
Type=simple
User={{SHADOWDESK_USER}}
Group={{SHADOWDESK_USER}}
Environment="DISPLAY=:%I"
Environment="XDG_SESSION_TYPE=x11"
ExecStart={{XSESSION_PATH}} "{{DESKTOP_SESSION}}"

[Install]
WantedBy=default.target
