[Unit]
Description=ShadowDesk backend service for DISPLAY %i
After=network.target shadowgnome@%i.service

[Service]
Type=simple
User={{SHADOWDESK_USER}}
Group={{SHADOWDESK_USER}}
Environment="DISPLAY=:%i"
EnvironmentFile={{SHADOWDESK_USER_HOME}}/.config/shadowdesk/shadowdesk.env
ExecStart=/opt/shadowdesk/bin/shadowdeskbin
ExecStop=/usr/bin/pkill -u %i -f /opt/shadowdesk/bin/shadowdeskbin
Restart=always

[Install]
WantedBy=default.target
