[Unit]
Description=ShadowDesk backend service for DISPLAY %i
After=network.target shadowgnome@%i.service

[Service]
Type=simple
User=almalinux
Group=almalinux
Environment="DISPLAY=:%i"
EnvironmentFile=-%h/.config/shadowdesk/shadowdesk.env
ExecStart=/opt/shadowdesk/bin/shadowdeskbin
ExecStop=/usr/bin/pkill -u %i -f /opt/shadowdesk/bin/shadowdeskbin
Restart=always

[Install]
WantedBy=default.target